/bin
**/.terraform/*
*.tfstate
*.tfstate.*
*.log
*.tfvars
container-openrc.sh
container-openrc-aws.sh
container-openrc-azure.sh
container-openrc-gcp.sh
container-openrc-openstack.sh
container-openrc-vsphere.sh
Dockerfile
entrypoint.sh
Makefile
README.md
terraform.sh
tf-make
