# URL of the libvirt server
# EXAMPLE:
# libvirt_uri = "test:///default"
# libvirt_uri = "qemu:///system"
# libvirt_uri = "qemu:///session"
# libvirt_uri = "qemu:///session?socket=${HOME}/.cache/libvirt/libvirt-sock"
# libvirt_uri = "qemu+ssh://root@192.168.100.10/system"
# libvirt_uri = "qemu+ssh://root@192.168.100.10/session"
# libvirt_uri = "qemu+ssh://${SSH_USER}@${FQDN}/system?socket=/var/run/libvirt/libvirt-sock"
# libvirt_uri = "qemu+ssh://${SSH_USER}@${FQDN}/session?socket=${HOME}/.cache/libvirt/libvirt-sock"
libvirt_uri = "qemu:///system"

# Path of the key file used to connect to the libvirt server
# Note this value will be appended to the libvirt_uri as a 'keyfile' query: <libvirt_uri>?keyfile=<libvirt_keyfile>
# EXAMPLE:
# libvirt_keyfile = "~/.ssh/custom_id"
libvirt_keyfile = ""

# # # Pool to be used to store all the volumes
# pool = "pool"

# URL of the image to use
# EXAMPLE:
# lb_image_uri = "CentOS-7-x86_64-GenericCloud.qcow2"
# lb_image_uri = "https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/alpine/alpine-standard-3.12.3-x86_64.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/centos/CentOS-7-x86_64-GenericCloud.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/centos/CentOS-7-x86_64-GenericCloud-2009.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/centos/CentOS-8-GenericCloud-8.2.2004-20200611.2.x86_64.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/centos/CentOS-8-GenericCloud-8.3.2011-20201204.2.x86_64.qcow2"
lb_image_uri = "${HOME}/Documents/myImages/kvm/centos/CentOS-8-GenericCloud-8.4.2105-20210603.0.x86_64.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/coreos/fedora-coreos-33.20210217.3.0-qemu.x86_64.qcow2.xz"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/debian/debian-10.5.0-openstack-amd64.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/fedora/Fedora-Cloud-Base-32-1.6.x86_64.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/opensuse-leap/openSUSE-Leap-15.3-OpenStack.x86_64.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/opensuse-tumbleweed/openSUSE-Tumbleweed-JeOS.x86_64-OpenStack-Cloud.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/oracle-linux/OL7U9_x86_64-olvm-b86.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/oracle-linux/OL8U4_x86_64-olvm-b85.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/rancher-harvester/harvester-amd64.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/rancher-k3os/k3os-amd64.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/rancher-os/rancheros.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/raspios/2020-12-11-raspios-buster-i386.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/sles/SLES15-SP2-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/ubuntu/ubuntu-18.04-server-cloudimg-amd64.img"
# lb_image_uri = "${HOME}/Documents/myImages/kvm/ubuntu/ubuntu-20.04-server-cloudimg-amd64.img"

# URL of the alpine image to use
# EXAMPLE:
# alpine_image_uri = "alpine-standard-3.12.3-x86_64.qcow2"
# alpine_image_uri = "https://dl-cdn.alpinelinux.org/alpine/v3.12/releases/x86_64/alpine-virt-3.12.3-x86_64.iso"
alpine_image_uri = "${HOME}/Documents/myImages/kvm/alpine/alpine-standard-3.12.3-x86_64.qcow2"

# URL of the centos image to use
# EXAMPLE:
# centos_image_uri = "CentOS-7-x86_64-GenericCloud.qcow2"
# centos_image_uri = "https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2"
centos_image_uri = "${HOME}/Documents/myImages/kvm/centos/CentOS-7-x86_64-GenericCloud.qcow2"

# URL of the coreos image to use
# EXAMPLE:
# coreos_image_uri = "fedora-coreos-33.20210217.3.0-qemu.x86_64.qcow2.xz"
# coreos_image_uri = "https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/33.20210217.3.0/x86_64/fedora-coreos-33.20210217.3.0-qemu.x86_64.qcow2.xz"
coreos_image_uri = "${HOME}/Documents/myImages/kvm/coreos/fedora-coreos-33.20210217.3.0-qemu.x86_64.qcow2.xz"

# URL of the image to use
# EXAMPLE:
# debian_image_uri = "debian-10.5.0-openstack-amd64.qcow2
# debian_image_uri = "http://cdimage.debian.org/cdimage/openstack/current/debian-10.5.0-openstack-amd64.qcow2
debian_image_uri = "${HOME}/Documents/myImages/kvm/debian/debian-10.5.0-openstack-amd64.qcow2"

# URL of the fedora image to use
# EXAMPLE:
# fedora_image_uri = "Fedora-Cloud-Base-32-1.6.x86_64.qcow2"
# fedora_image_uri = "https://download.fedoraproject.org/pub/fedora/linux/releases/32/Cloud/x86_64/images/Fedora-Cloud-Base-32-1.6.x86_64.qcow2"
fedora_image_uri = "${HOME}/Documents/myImages/kvm/fedora/Fedora-Cloud-Base-32-1.6.x86_64.qcow2"

# URL of the image to use
# EXAMPLE:
# opensuse_leap_image_uri = "openSUSE-Leap-15.3-OpenStack.x86_64.qcow2"
# opensuse_leap_image_uri = "https://download.opensuse.org/repositories/Cloud:/Images:/Leap_15.3/images/openSUSE-Leap-15.3-OpenStack.x86_64.qcow2"
opensuse_leap_image_uri = "${HOME}/Documents/myImages/kvm/opensuse-leap/openSUSE-Leap-15.3-OpenStack.x86_64.qcow2"
# opensuse_leap_image_uri = "openSUSE-Leap-15.3-JeOS.x86_64-OpenStack-Cloud.qcow2"
# opensuse_leap_image_uri = "https://download.opensuse.org/distribution/leap/15.3/jeos/openSUSE-Leap-15.3-JeOS.x86_64-OpenStack-Cloud.qcow2"
# opensuse_leap_image_uri = "${HOME}/Documents/myImages/kvm/opensuse-leap/openSUSE-Leap-15.3-JeOS.x86_64-OpenStack-Cloud.qcow2"

# URL of the image to use
# EXAMPLE:
# opensuse_tumbleweed_image_uri = "openSUSE-Tumbleweed-JeOS.x86_64-OpenStack-Cloud.qcow2"
# opensuse_tumbleweed_image_uri = "http://download.opensuse.org/tumbleweed/appliances/openSUSE-Tumbleweed-JeOS.x86_64-OpenStack-Cloud.qcow2"
opensuse_tumbleweed_image_uri = "${HOME}/Documents/myImages/kvm/opensuse-tumbleweed/openSUSE-Tumbleweed-JeOS.x86_64-OpenStack-Cloud.qcow2"

# URL of the image to use
# EXAMPLE:
# oracle_linux_image_uri="https://yum.oracle.com/templates/OracleLinux/OL7/u9/x86_64/OL7U9_x86_64-olvm-b86.qcow2"
# oracle_linux_image_uri="https://yum.oracle.com/templates/OracleLinux/OL8/u4/x86_64/OL8U4_x86_64-olvm-b85.qcow2"
# oracle_linux_image_uri = "${HOME}/Documents/myImages/kvm/oracle-linux/OL7U9_x86_64-olvm-b86.qcow2"
oracle_linux_image_uri = "${HOME}/Documents/myImages/kvm/oracle-linux/OL8U4_x86_64-olvm-b85.qcow2"

# URL of the rancher-k3os image to use
# EXAMPLE:
# rancher_k3os_image_uri = "k3os-amd64.qcow2"
# rancher_k3os_image_uri = "https://github.com/rancher/k3os/releases/download/v0.11.1/k3os-amd64.img"
rancher_k3os_image_uri = "${HOME}/Documents/myImages/kvm/rancher-k3os/k3os-amd64.qcow2"

# URL of the rancheros image to use
# EXAMPLE:
# rancher_os_image_uri = "rancheros-openstack.img"
# rancher_os_image_uri = "https://github.com/rancher/os/releases/download/v1.5.6/rancheros-openstack.img"
rancher_os_image_uri = "${HOME}/Documents/myImages/kvm/rancher-os/rancheros-openstack.img"

# URL of the image to use
# EXAMPLE:
# raspios_image_uri = "2020-12-11-raspios-buster-i386.qcow2"
# raspios_image_uri = ""
raspios_image_uri = "${HOME}/Documents/myImages/kvm/raspios/2020-12-02-raspios-buster-armhf-lite.img"
# raspios_image_uri = "${HOME}/Documents/myImages/kvm/raspios/2020-12-11-raspios-buster-i386.qcow2"

# URL of the image to use
# EXAMPLE:
# sles_image_uri = "SLES15-SP2-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2"
# sles_image_uri = "https://download.suse.de/install/SLE-15-SP2-JeOS-GM/SLES15-SP2-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2"
# sles_image_uri = "${HOME}/Documents/myImages/kvm/sles/SLES15-SP2-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2"

# URL of the image to use
# EXAMPLE:
# ubuntu_image_uri = "ubuntu-20.04-server-cloudimg-amd64.img"
# ubuntu_image_uri = "https://cloud-images.ubuntu.com/releases/xenial/release/ubuntu-20.04-server-cloudimg-amd64.img"
ubuntu_image_uri = "${HOME}/Documents/myImages/kvm/ubuntu/ubuntu-20.04-server-cloudimg-amd64.img"

# Identifier to make all your resources unique and avoid clashes with other users of this terraform project
# stack_name = "my-mos-cluster"
stack_name = "mos"

# CIDR of the network
network_cidr = "10.17.0.0/22"

# Enable creation of LB node
create_lb = true

# Number of alpine nodes
alpines       = 0
alpine_memory = 5120

# Number of centos nodes
centoss       = 1
centos_memory = 5120

# Number of coreos nodes
coreoss       = 0
coreos_memory = 5120

# Number of debian nodes
debians       = 0
debian_memory = 5120

# Number of fedora nodes
fedoras       = 0
fedora_memory = 5120

# Number of opensuse-leap nodes
opensuse_leaps       = 0
opensuse_leap_memory = 5120

# Number of opensuse-tumbleweed nodes
opensuse_tumbleweeds       = 0
opensuse_tumbleweed_memory = 5120

# Number of oracle-linux nodes
oracle_linuxes       = 0
oracle_linux_memory = 5120

# Number of rancher-k3os nodes
rancher_k3oss       = 0
rancher_k3os_memory = 5120

# Number of rancher-os nodes
rancher_oss       = 0
rancher_os_memory = 5120

# Number of raspios nodes
raspioss       = 0
raspios_memory = 5120

# Number of sles nodes
sless       = 0
sles_memory = 5120

# Number of ubuntu nodes
ubuntus       = 1
ubuntu_memory = 5120

# Name of DNS domain
dns_domain = "mos.local"

# Username for the cluster nodes
# EXAMPLE:
username = "mos"

# Password for the cluster nodes
# EXAMPLE:
password = "linux"

# define the repositories to use for the loadbalancer node
# EXAMPLE:
# lb_repositories = {
#   repository1 = "http://example.my.repo.com/repository1/"
#   repository2 = "http://example.my.repo.com/repository2/"
# }
lb_repositories = {}

# Optional: Define the repositories to use
# EXAMPLE:
# repositories = {
#   repository1 = "http://example.my.repo.com/repository3/"
#   repository2 = "http://example.my.repo.com/repository4/"
# }
repositories = {}

# Minimum required packages. Do not remove them.
# Feel free to add more packages
packages = [
  "util-linux",
  "python3",
  "curl",
  "wget",
  "rsync",
  "jq",
  "which",
  "openssl",
  "open-iscsi",
  "nfs-kernel-server",
  "tar",
  "zip",
  "unzip",
  "gzip",
  "zstd"
]

# ssh keys to inject into all the nodes
# EXAMPLE:
# authorized_keys = [
#  "ssh-rsa <key-content>"
# ]
authorized_keys = [
  ""
]

# ssh key to launch the nodes with
# EXAMPLE:
# key_pair = "my_keypair"

# IMPORTANT: Replace these ntp servers with ones from your infrastructure
ntp_servers = ["TIME.google.com", "TIME1.google.com", "TIME2.google.com", "TIME3.google.com", "TIME4.google.com"]

# DNS servers for the nodes
# dns_nameservers = [
#     "172.28.0.2",
#     "8.8.8.8",
#     "8.8.4.4",
#     "1.1.1.1",
#     "1.0.0.1",
#     "168.95.1.1",
#     "168.95.192.1"
# ]
dns_nameservers = [
  "8.8.8.8",
  "8.8.4.4"
]

# Set node's hostname from DHCP server
#hostname_from_dhcp = false
